# Files, directories or patterns that should be excluded from Git tracking

# Ignore the python compiled files
*.pyc

# Ignore the venv directories and configuration
Include/
Lib/
Scripts/
pyvenv.cfg

# Ignore pyinstaller directories and configuration
build/
dist/
convert_images_to_pdf.spec
